

/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    background-color: red;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Main content styles */
main {
    text-align: center;
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.marist-jpg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.logo img {
    max-width: 50px; 
    height: auto;
}

#courses-heading {
    margin-left: 20px;
}
